<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"]</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/price-range.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
</head>
<body>
    <header id="header">
        <div class="header-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 clearfix">
                        <div class="logo pull-left">
                            <a href="@Context.Request.Scheme://@Context.Request.Host"><img src="~/images/home/logo.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-8 clearfix">
                        <div class="shop-menu clearfix pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="@Context.Request.Scheme://@Context.Request.Host/ShoppingCart"><i class="fa fa-shopping-cart"></i>Sepetim</a></li>
                                <li><a href="@Context.Request.Scheme://@Context.Request.Host/Contact"><i class="fa fa-envelope"></i>İletişim</a></li>
                                @using Microsoft.AspNetCore.Http;
                                @inject IHttpContextAccessor HttpContextAccessor
                                @using ECOMMERCE.WEBUI.Extensions
                                @{ UserContext user = HttpContextAccessor.HttpContext.Session.Get<UserContext>("UserContext");
                                    if (user == null)
                                    {
                        <li><a href="@Context.Request.Scheme://@Context.Request.Host/Login"><i class="fa fa-sign-in"></i>Giriş</a></li> }
                                    else
                                    {
                        <li>
                            <div class="btn-group">
                                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @user.Name
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" id="btnLogout">Çıkış</a>
                                </div>
                            </div>
                        </li> } }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer id="footer">

        <div class="footer-widget">
            <div class="container">
                <div class="row" style="display: flex;justify-content:center;">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>SERVİSLER</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="">Bize Ulaşın</></a></li>
                                <li><a href="">Sık Sorulan Sorular</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>POLİTİKALAR</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="">Kullanım Şartları</a></li>
                                <li><a href="">Gizlilik Politikası</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/price-range.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="http://botmonster.com/jquery-bootpag/jquery.bootpag.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/scripts/Layout.js"></script>
</body>
</html>