@{
    ViewData["Title"] = "Okan Elektronik";
}
@model ECOMMERCE.WEBUI.Models.ViewModels.HomeViewModel

<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        @for (int i = 0; i < Model.Sliders.Count; i++)
                        {
                        <li data-target="#slider-carousel" data-slide-to="@i" @(i==0? " class=\"active\" ":"")></li>
                        }
                    </ol>

                    <div class="carousel-inner">
                        @for (int i = 0; i < Model.Sliders.Count; i++)
                        {
                            <div class="item@(i==0?" active":"")">
                                <div class="col-sm-6">

                                    <h2>@Model.Sliders[i].Title</h2>
                                    <p>@Model.Sliders[i].Description</p>
                                    <button type="button" class="btn btn-default get">@Model.Sliders[i].LinkTitle</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="@Model.Sliders[i].Image" class="girl img-responsive" alt="" />
                                </div>
                            </div>
                        }
                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>KATEGORİ</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        @foreach (var category in Model.Categories)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#@category.Id">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            <a href="Products/@category.Code">@category.Name</a>
                                        </a>
                                    </h4>
                                </div>
                                <div id="@category.Id" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            @foreach (var subCategory in category.SubCategories)
                                            {
                                                <li><a href="Products/@subCategory.CategoryCode/@subCategory.Code">@subCategory.Name</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">ÜRÜNLER</h2>
                    @foreach (var product in Model.Products.Take(9))
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                      <a href="Products/@product.CategoryCode/@product.SubCategoryCode/@product.ProductTypeCode/@product.Id"><img class="img-fluid" src="@Context.Request.Scheme://@Context.Request.Host/@product.Image" alt="" /></a>
                                        <h2>@string.Format("{0} {1}", product.Price, product.Currency)</h2>
                                        <p>@string.Format("{0} {1}", product.Brand, product.Model)</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                    </div>
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="#"><i class="fa fa-plus-square"></i>Favorilere Ekle</a></li>
                                        <li><a href="#"><i class="fa fa-plus-square"></i>Karşılaştır</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>