
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ECOMMERCE.WEBUI.Models.ViewModels.PaymentViewModel

<section id="cart_items">
    <div class="container">
        <div class="register-req">
            <p>*Sipariş geçmişi ve daha fazlası için kayıt olup satın alın ya da üye olmadan satın al seçeneğini kullanın.</p>
        </div>
        <div class="shopper-informations">
            <div class="row">
                <div class="col-xs-12 clearfix">
                    <div class="bill-to">
                        <p>Satın Alma ve Fatura Bilgileri</p>
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <div class="form-group owner col-xs-6">
                                    <label>Ad Soyad</label>
                                    <input type="text" class="form-control" id="shopName">
                                </div>
                                <div class="form-group CVV col-xs-6">
                                    <label>Telefon</label>
                                    <input type="tel" class="form-control" placeholder="( ___ ) ___ __ __" id="shopTel">
                                </div>
                                <div class="form-group col-sm-12 col-xs-12">
                                    <label>Adres</label>
                                    <input type="text" class="form-control" id="shopAddress">
                                </div>
                                <div class="col-sm-6">
                                    <span>Şehir</span>
                                    <select id="chkCities">
                                        @foreach (var item in Model.Cities)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <span>İlçe</span>
                                    <select id="chkDistricts">
                                    </select>
                                </div>
                            </div>
                            <div class="payment col-xs-6">

                                <div class="form-group owner col-sm-9 col-xs-9">
                                    <label>Kart Sahibi</label>
                                    <input type="text" class="form-control" id="cartOwner">
                                </div>
                                <div class="form-group CVV col-sm-3 col-xs-3">

                                    <label>CVV</label>
                                    <input type="text" class="form-control" id="cartCVV">
                                </div>
                                <div class="form-group col-sm-12 col-xs-12">
                                    <label>Kart Numarası</label>
                                    <input type="text" class="form-control" id="cartNumber">
                                </div>


                                <div class="form-group" id="expirationDate">
                                    <div class="col-xs-12">
                                        <span>Son Kullanım Tarihi</span>
                                    </div>
                                    <div class="col-sm-6">
                                        <select>
                                            <option value="01">Ocak</option>

                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <select>
                                            <option value="22">2022</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review-payment">
            <h2>İnceleme ve Ödeme</h2>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <table class="table table-hover">
                    <thead>
                    <th class="text-center" style="width: 500px;">Ürün Adı</th>
                    <th class="text-center" style="width: 300px;">Ürün Fiyatı</th>
                    </thead>

                    <tbody>
                        @using Microsoft.AspNetCore.Http;
                        @inject IHttpContextAccessor HttpContextAccessor
                        @using ECOMMERCE.WEBUI.Extensions
                        @{
                            List<ShoppingCartItemModel> shoppingCartItemModels = HttpContextAccessor.HttpContext.Session.Get<List<ShoppingCartItemModel>>("ShoppingCart");
                            if (shoppingCartItemModels != null)
                            {
                                foreach (ShoppingCartItemModel shoppingCartItem in shoppingCartItemModels)
                                {
                                    <tr>
                                        <td>@shoppingCartItem.Name</td>
                                        <td class="text-center">@shoppingCartItem.Price TL</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>

                    @{
                        @if (shoppingCartItemModels != null)
                        {
                            <tfoot>
                            <th colspan="2" class="text-right">
                                Toplam Ürün : <span>@shoppingCartItemModels.Count Adet</span>
                            </th>
                            <th colspan="4" class="text-right">
                                Toplam Tutar : <span>@shoppingCartItemModels.Sum(x => x.TotalPrice) TL</span> <br><br>
                                <button class="button btn-success" id="btnPay">Ödeme Yap</button>
                            </th>
                            </tfoot>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
    </div>
</section>

<script src="~/js/jquery.js"></script>
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/scripts/Payment.js"></script>